@{
    ViewData["Title"] = "Home Page";

    var nombre = "Luis";
}

<div class="text-center">
    <h1 class="display-4">Welcome @nombre</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
